
        <h1  class='btn btn-primary'>coordinate :</h1><span> {{cor}}</span> <hr>
        <h1  class='btn btn-primary'>temp : </h1><span> {{temp}}</span><hr>
        <h1 class='btn btn-primary'>pressure :  </h1><span> {{pressure}}</span><hr>
        <h1 class='btn btn-primary'>humidity : </h1> <span> {{humidity}} </span><hr>
        <h1 class='btn btn-primary'>main : </h1> <span> {{main}}</span><hr>
        <h1 class='btn btn-primary'>description : </h1> <span> {{description}}</span> 
   
